<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <title>Itarj</title>
    <style>
        .w3-lobster {
            font-family: "Lobster", serif;
        }
    </style>
</head>

<body>
    <div class="w3-container w3-teal w3-lobster">
        <h1>Itarj</h1>
    </div>
    <div class="w3-content">
        {% for row in posts %}
        <div class="w3-row w3-margin">
            <div class="w3-third">
                <p>Uploaded by: {{row[1]}}</p>
                <p>Uploaded: {{row[4]}}</p>
            </div>
            <div class="w3-twothird w3-container">
                <h2>{{row[2]}}</h2>
                <p>{{row[3]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>